.idea
CarouselLayout.xcodeproj/project.xcworkspace/xcuserdata
CarouselLayout.xcodeproj/xcuserdata
CarouselCollectionViewLayout.xcodeproj/project.xcworkspace/xcuserdata
CarouselCollectionViewLayout.xcodeproj/xcuserdata
